name: Release Package

on:
  push:
    branches: [ release ]

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Evaluate java version from pom
      run: echo "JAVA_VERSION=$(mvn ${MAVEN_CLI_OPTIONS} help:evaluate -Dexpression=maven.compiler.target -q -DforceStdout)" >> $GITHUB_ENV
      env:
        MAVEN_CLI_OPTIONS: --quiet --batch-mode --no-transfer-progress

    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ env.JAVA_VERSION }}
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml

    - name: Prepare version
      run: |
        export CURRENT_BRANCH=${GITHUB_REF#refs/heads/}
        echo "CURRENT_BRANCH=${CURRENT_BRANCH}" >> $GITHUB_ENV
        export REVISION_BRANCH=$([[ ${CURRENT_BRANCH} != "release" && ${CURRENT_BRANCH} != "main" ]] && echo "-${CURRENT_BRANCH}")
        echo "REVISION_BRANCH=${REVISION_BRANCH}" >> $GITHUB_ENV
        export REVISION_TYPE=$([[ ${CURRENT_BRANCH} != "release" ]] && echo "-SNAPSHOT")
        echo "REVISION_TYPE=${REVISION_TYPE}" >> $GITHUB_ENV

    - name: Build, test and deploy with maven
      run: |
        # Configure git
        git config user.name github-actions
        git config user.email github-actions@github.com
        # Build and deploy
        mvn ${MVN_CLI_OPTIONS} -Dsha1="${REVISION_BRANCH}" -Dchangelist="${REVISION_TYPE}" -Prelease -Dusername=$GITHUB_TOKEN clean deploy
        # Increment revision of develop branch based on main revision value
        export NEXT_DEVELOPMENT_VERSION="$(mvn ${MVN_CLI_OPTIONS} build-helper:parse-version -DgenerateBackupPoms=false -DnewVersion=\${parsedVersion.majorVersion}.\${parsedVersion.minorVersion}.\${parsedVersion.nextIncrementalVersion} help:evaluate -Dexpression=newVersion -q -DforceStdout)"
        git reset --hard origin/main
        git fetch --all --tags
        git checkout develop
        git reset --hard origin/develop
        git pull --all --ff-only
        mvn ${MVN_CLI_OPTIONS} build-helper:parse-version versions:set-property -DgenerateBackupPoms=false -Dproperty=revision -DnewVersion=${NEXT_DEVELOPMENT_VERSION}
        mvn ${MVN_CLI_OPTIONS} -Dsha1="" -Dchangelist="-SNAPSHOT" compile
        git commit -am "Updated revision to ${NEXT_DEVELOPMENT_VERSION}. Prepared for next development iteration." && git push
      env:
        MVN_CLI_OPTIONS: --quiet --batch-mode --no-transfer-progress
        GITHUB_TOKEN: ${{ github.token }}

    - name: Quality check with maven and sonar
      run: mvn ${MVN_CLI_OPTIONS} -Dsha1="${REVISION_BRANCH}" -Dchangelist="${REVISION_TYPE}" -Pquality verify # Test already run in previous step
      env:
        MVN_CLI_OPTIONS: --quiet --batch-mode --no-transfer-progress
        GITHUB_TOKEN: ${{ github.token }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
